<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <!-- Recogemos los datos del componente formulario-tarea utilizando el $event y creamos el array para poder pasarlo a la otra clase hija: lista-tareas -->
            <app-formulario-tarea (eventData)="datosFormulario($event)"></app-formulario-tarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- En el array tareasArray de la clase hija lista-tareas le pasamos el array creado con los datos de la clase hija formulario-tarea -->
            <app-lista-tareas [tareasArray]="arrayTareas"></app-lista-tareas>
        </div>
    </div>
</div>